/*Match Game CSS*/
:root{

    /*Colors*/

    --site-black: rgba(0,0,0, 1);
    --background1: rgba(0, 255, 255, 1);
    --background2: rgba(0, 255, 255, .8);
    --background3: rgba(0, 255, 255, .6);
    --background4: rgba(0, 255, 255, .4);

    --background-blend-linear: linear-gradient(to right,var(--background1), var(--background2), var(--site-black), var(--background4),var(--site-black),var(--background3), var(--background2), var(--site-black),var(--background1));
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    text-align: center;
    color: blueviolet;

}

h2 {
    color: cadetblue;
    text-align: center;
}

#scoreText {
    color: cornflowerblue;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-align:center; */
    color: rgb(0, 255, 247);

}

body {
    background-image: var(--background-blend-linear);

}

img {
    position: absolute;
}

div {
    position: absolute;
    width: 500px;
    height: 500px;
}

#rightSide {
    left: 800px;
    border-left: 10px blueviolet solid;
}